html {
    scroll-behavior: smooth;
}

body {
    color: #F9E8FC; /* text color */
    background-color: #000000; /* no need for an explanation */
    margin: 1em auto; /* this controls padding...? */
    max-width: 70em; /* this too...? */
    font: 1.3em/1.65 sans-serif; /* font size and type */
    font-family: 'Open Sans', sans-serif;
    padding: 10px; /* this also controls padding...? */
    display: inline-block;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    overflow-x: hidden; /* Prevent unintended horizontal scroll */
}

h1::first-letter { /* change the first letter color of all h1 tags */
	color: #F1A8FF;
}

.colored { /* basically the same thing as above, but can be done for any tag. */
	color: #FFDF91;
}

p {
	padding: 10px;
}

a { /* customizing the a tag appearance */
    color: #F1A8FF; /* change the color of the link */
}

hr { /* make the hr, separator, tag less ugly */
    border: none;
    height: 4px;
    border-radius: 5px;
    background-color: #868686;
}

img {
    width: 50%;
    margin: 10px;
    border: 2px solid #F2D9F7;
    border-radius: 25px;
}

.btn-ghost {
	background-color: #F1A8FF;
	color: #000000;
	padding: 5px 5px;
	border: 1px solid #F1A8FF;
	border-radius: 9px;
	font-size: 1rem;
	cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}

.btn-ghost:hover {
	background-color: #F2D9F7;
}

.center-text {
    text-align: center;
}

.image-text-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
img {
    width: 50px;
    height: auto;
}

#clock {
    background-color: #3B1B16;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #FFB4A5;
    border-radius: 9px;
}

.container {
    max-width: 100%; /* Avoid overflowing */
    margin: 0 auto; /* Center the container */
}

