body {
    color: #FFEDE9; /* text color */
    background-color: #000000; /* no need for an explanation */
    margin: 1em auto; /* this controls padding...? */
    max-width: 70em; /* this too...? */
    font: 1.3em/1.65 sans-serif; /* font size and type */
    font-family: 'Open Sans', sans-serif;
    padding: 0 0.92em 3.24em; /* this also controls padding...? */
}

h1::first-letter { /* change the first letter color of all h1 tags */
	color: #F19282;
}

.colored { /* basically the same thing as above, but can be done for any tag. */
	color: #FFDF91;
}

p {
	padding: 10px;
}

a { /* customizing the a tag appearance */
    color: #3d82ad; /* change the color of the link */
}

hr { /* make the hr, separator, tag less ugly */
    border: none;
    height: 4px;
    border-radius: 5px;
    background-color: #868686;
}

img {
    width: 75%;
    margin: 10px;
    border: 2px solid #000000;
}

.btn-rounded {
	background-color: #06406e8e;
	color: white;
	padding: 3px 3px;
	border: none;
	border-radius: 30px;
	font-size:16px;
	cursor: pointer;
text-decoration: none;
}

.btn-rounded:hover {
	background-color: #314987;
}

.btn-ghost {
	background-color: #3B1B16;
	color: #FFFFFF;
	padding: 3px 3px;
	border: 2px solid #FFB4A5;
	border-radius: 9px;
	font-size: 18px;
	cursor: pointer;
text-decoration: none;
}

.btn-ghost:hover {
	background-color: #94483B;
}

.container {
    padding: 15%;
}

.center-text {
    text-align: center;
}

.image-text-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
img {
    width: 50px;
    height: auto;
}

