html {
    scroll-behavior: smooth;
}

body {
    color: #F9E8FC; /* text color */
    background-color: #000000; /* no need for an explanation */
    margin: 1em auto; /* this controls padding...? */
    max-width: 70em; /* this too...? */
    font: 1.3em/1.65 sans-serif; /* font size and type */
    font-family: 'Open Sans', sans-serif;
    padding: 10px; /* this also controls padding...? */
    display: inline-block;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    overflow-x: hidden; /* Prevent unintended horizontal scroll */
}

h1::first-letter { /* change the first letter color of all h1 tags */
	color: #F1A8FF;
}

.colored { /* basically the same thing as above, but can be done for any tag. */
	color: #F1A8FF;
}

p {
	padding: 10px;
}

a { /* customizing the a tag appearance */
    color: #3d82ad; /* change the color of the link */
}

hr { /* make the hr, separator, tag less ugly */
    border: none;
    height: 4px;
    border-radius: 5px;
    background-color: #868686;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 2px solid #F2D9F7;
    border-radius: 25px;
}

.btn-ghost {
	background-color: #F1A8FF;
	color: #000000;
	padding: 5px 5px;
	border: 1px solid #F1A8FF;
	border-radius: 9px;
	font-size: 1rem;
	cursor: pointer;
text-decoration: none;
white-space: nowrap;
overflow: visible;
}

.btn-ghost:hover {
	background-color: #F2D9F7;
}

@media (min-width: 768px) {
    .btn-ghost {
        padding: 15px 40px;
        font-size: 1.2rem;
    }
}

.center-text {
    text-align: center;
}

.resource-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px; /* Space between items */
}

.resource-item {
    display: flex;
    align-items: center; /* Align text and image vertically */
    gap: 10px; /* Space between image and text */
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
}

img {
    max-width: 190px; /* Adjust as needed */
    height: auto;
    display: block; /* Prevent extra inline space */
}

.scaled-image {
    transform: scale(1.5);
}

.center-image {
    text-align: center;
}

img {
    display: inline-block;
}


.container {
    max-width: 100%; /* Avoid overflowing */
    margin: 0 auto; /* Center the container */
    padding: 0 16px; /* Add breathing space on small screens */
}

